@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
	font-family: 'Space Grotesk', sans-serif !important;
	font-size: 16px; /* Define base font size */
}

.loader-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
}

.loader {
	position: absolute;
	left: 43.5%;
	top: 50%;
	width: 13%;
	height: auto;
}

.none {
	display: none;
}

#navbar {
	background: #387adf;
	border-right: 0.25rem solid;
	border-color: #00204e;
}
#ideas a{
	color: black !important;
}
.title {
	margin: 100px 100px 0px 0px !important;
}

.title h1 {
	font-size: 8rem;
	font-weight: bold !important;
	color: #387adf;
}

h2 {
	color: #00204e;
	font-size: 3rem !important;
	font-weight: bold !important;
	border-bottom: 3px solid;
	border-image: linear-gradient(90deg,rgb(0, 32, 78, 1) 0%, rgb(0, 32, 78, 1) 25%, rgb(0, 32, 78, 0) 100%) 1;
}

h3 {
	color: #387adf;
	font-size: 2rem !important;
	font-weight: bold !important;
}

h4 {
	color: #387adf;
	font-size: 1.70rem !important;
	font-weight: 400;
	margin-left: 10px;
}
h5 {
	color: #00204e;
	font-size: 1.50rem !important;
	font-weight: 400;
	margin-left: 10px;
}

a {
	color: white !important;
	font-size: 23px !important;
	font-weight: bold !important;
}

p {
	font-size: 23px !important;
}

.nav-link.active {
	color: #423c3c !important;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #423c3c;
	margin: 0;
}

.text-idea {
	text-align: justify;
}

.image-idea-relevant {
	width: 100%;
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.15);
}

.container-image-idea-1 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 410px), 1fr));
	justify-content: space-between;
}

.item-image-idea-1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.item-image-idea-1 img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 20px;
}

.item-image-idea-1 figcaption {
	font-weight: 500;
}

.container-image-idea-3 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 100rem), 1fr));
	justify-content: space-between;
	text-align: center;
}

.item-image-idea-3 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.item-image-idea-3 img {
	width: 60%;
	height: 60%;
	object-fit: contain;
	border: 2px solid #387adf;
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
	border-radius: 20px;
}

.container-prototype {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container-prototype.horizontal .item-prototype{
	flex: 1 1 410px;
	max-width: 410px;
}
.container-prototype.vertical .item-prototype{
	flex: 1 1 220px;
	max-width: 220px;
}

.item-prototype {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 0.5rem;
	box-sizing: border-box;
}

.item-prototype figcaption {
	font-weight: 400;
	font-size: 11pt;
	text-align: justify;
	margin: 0.5rem;
}

.item-prototype img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 15px;
}

.container-prototype-version {
	
}

.container-playtesting{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container-playtesting.horizontal .item-playtesting{
	flex: 1 1 600px;
	max-width: 600px;
}
.container-playtesting.vertical .item-playtesting{
	flex: 1 1 350x;
	max-width: 350px;
}

.item-playtesting figcaption {
	font-weight: 400;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.item-playtesting {
	padding-left: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;
}

.item-playtesting img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 15px;
}

.playtesting .retroalimentacion b{
	font-size: 15pt;
}
.playtesting .retroalimentacion ul{
	font-size: 12pt;
}

#ideas {
	margin: 15rem 15rem 0 0 !important;
}

#about p {
	text-align: justify;
}

.item-idea {
	margin: 10rem 0 0 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-image: none;
}
.carousel-control-next-icon:after {
	content: '>';
	font-size: 70px;
	color: #333;
}

.carousel-control-prev-icon:after {
	content: '<';
	font-size: 70px;
	color: #333;
}

@media (max-width: 768px) {
	h1 {
		font-size: 4rem !important; /* Tamaño más pequeño para tablets */
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 3rem !important; /* Tamaño aún más pequeño para móviles */
	}
}

@media (max-width: 992px) {
	#navbar {
		width: 100%;
		height: auto;
		position: relative;
	}
	#navbar ul {
		flex-direction: row;
		justify-content: center;
	}
}
@media (min-width: 992px) {
	.top-nav {
		display: none;
	}
}
@media (max-width: 991px) {
	.col-lg-2,
	.col-lg-8 {
		width: 100%;
	}
}
